body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000; 
    color: #fff;
    overflow-x: hidden; 
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    margin-right: 10px;
    padding: 10px 15px;
    position: relative;
    overflow: hidden;
}

.navbar-dark .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.navbar-dark .navbar-nav .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.custom-navbar {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem; 
    min-height: 30px;
    height: 80px; 
}

.hero {
    min-height: 100vh; 
    background-color: #000; 
    position: relative;
    padding-top: 70px; 
}

.hero h1 {
    font-size: 3em;
    margin: 0 0 20px;
}

.hero p {
    font-size: 1.5em;
    margin: 0 0 20px;
}

.video-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}

.video-button:hover {
    background-color: #333;
}

.profile, .portfolio, .contact, .sobre-mim {
    text-align: center;
    padding: 100px 20px;
}

.profile-pic-large {
    border-radius: 50%;
    width: 350px; 
    height: 350px; 
    margin-bottom: 20px;
    transition: all 0.5s ease;
    opacity: 0;
    transform: translateY(50px);
}

#profile-pic-small {
    width: 60px; 
    height: 60px; 
    transition: all 0.5s ease;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}

.contact img.phone-img {
    width: 120px; 
    height: 120px;
    margin-left: 10px; 
}

.carousel-height {
    min-height: 80vh; 
}

.carousel-item img {
    object-fit: cover; 
    height: 80vh; 
    width: 100%;
}

.carousel-caption {
    position: absolute;
    bottom: 40px; 
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    color: #fff;
}
.social-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
}

.social-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s;
}

.social-img:hover {
    transform: scale(1.1);
}
